{% extends "layouts/base.html" %}


{% block content %} 
<h1>Tutorias</h1>
    {% if request.user.is_tutor %}
    <a href="{% url "create_tutorship" %}">Crear tutoria</a>
    {% endif %}


<form action="" method="get"> 
    <input type="text" name="search" value="{{ search_query|default:'' }}" placeholder="Buscar tutorías">
    <button type="submit">Buscar</button>

    {% if request.user.is_tutor %}
        <div>
            <input 
                type="checkbox" 
                id="my_tutorships" 
                name="my_tutorships" 
                {% if show_my_tutorships %}checked{% endif %}>
            <label for="my_tutorships">Mostrar solo mis tutorías</label>
        </div>
    {% endif %}
</form>
<div>
    {% for tutorship in page_obj %}
        <div>
            <h2>{{ tutorship.name }}</h2>
            <p>{{ tutorship.description }}</p>
            <ul>
                
                <li><a href="">Contactar con tutor</a></li>
                <li><a href="{% url "public_user" pk=tutorship.tutor_id %}">Ver detalles del tutor</a></li>
                {% if request.user == tutorship.tutor %}
                    <li><a href="{% url "edit_tutorship" pk=tutorship.pk %}">Editar</a></li>
                    <li>
                        <form action="{% url "delete_tutorship" pk=tutorship.pk %}" method="post" 
                        onsubmit="return confirm('¿Estás seguro de que quieres eliminar esta tutoría?');">
                        {% csrf_token %}
                            <button type="submit">
                                Eliminar Tutoría
                            </button>
                        </form>
                    </li>
                {% endif %}
            </ul>
    </div>
    {% empty %}
        <p>No se encontraron tutorías.</p>
    {% endfor %}

    {% if page_obj.has_other_pages %}
        <div>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">Anterior</a>
            {% endif %}

            <span>
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">Siguiente</a>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock content %}