{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load widget_tweaks %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    <form action="{{ account_login }}" method="post">
        {% csrf_token %}
        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 gap-4">
            {% if form.non_field_errors or form.errors %}
                <div class="alert alert-error flex flex-col">
                    {% if form.non_field_errors %}
                        <p>{{ form.non_field_errors }}</p>
                    {% endif %}
                    {% for field in form %}
                        {% if field.errors %}
                            <p>{{ field.errors }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% for field in form %}
                {% if field.widget_type == 'checkbox' %}

                    <div class="form-control flex-row items-center space-x-2 ml-2">

                        {% render_field field class="checkbox" %}

                        <label for="{{ field.id_for_label }}" class="label cursor-pointer p-0">
                            <span class="label-text">{{ field.label }}</span>
                        </label>

                        {{ field.errors }}
                    </div>

                {% else %}
                    <div class="form-control">
                        <label for="{{ field.id_for_label }}" class="label justify-between w-full">
                            <span class="label-text">{{ field.label }}</span>

                            {% if field.name == 'password' %}
                                <a href="{% url 'account_reset_password' %}" class="label link link-secondary">
                                    {% translate "Forgot Password?" %}
                                </a>
                            {% endif %}

                        </label>

                        <div class="text-error text-sm mt-1">
                            {{ field.errors }}
                        </div>

                        {% render_field field class="input" %}

                    </div>
                {% endif %}
            {% endfor %}

            <button class="btn btn-primary">{% translate "Login" %}</button>
            <p class="text-center">¿Nuevo? <a href="{% url 'account_signup' %}" class="link link-secondary">Cree una
                cuenta</a></p>

        </fieldset>
    </form>
{% endblock %}