{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    Recuperar contraseña
{% endblock head_title %}
{% block content %}
    {% load widget_tweaks %}
    <form action="{{ account_reset_password }}" method="post">
        {% csrf_token %}
        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 gap-4">
            <p>Su contraseña ha sido cambiada.</p>
            <a href="{% url 'account_login' %}" class="btn btn-primary">Iniciar sesión</a>
        </fieldset>
    </form>
{% endblock %}