{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    Registro
{% endblock head_title %}
{% block content %}
    {% load widget_tweaks %}
    <div class="max-w-md mx-auto my-8">
        <form action="{{ account_signup }}" method="post">
            {% csrf_token %}
            <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 gap-4">
                {% if form.non_field_errors or form.errors %}
                    <div class="alert alert-error">
                        {% if form.non_field_errors %}
                            <p>{{ form.non_field_errors }}</p>
                        {% endif %}
                        {% for field in form %}
                            {% if field.errors %}
                                <p>{{ field.errors }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}


                {% for field in form %}
                    {% if field.widget_type == 'checkbox' %}

                        <div class="form-control flex-row items-center space-x-2 ml-2">

                            {% render_field field class="checkbox" %}

                            <label for="{{ field.id_for_label }}" class="label cursor-pointer p-0">
                                <span class="label-text">{{ field.label }}</span>
                            </label>
                        </div>

                    {% else %}
                        <div class="form-control">
                            <label for="{{ field.id_for_label }}" class="label justify-between w-full">
                                <span class="label-text">{{ field.label }}</span>
                            </label>
                            {% render_field field class="input" %}
                        </div>
                    {% endif %}
                {% endfor %}

                <button class="btn btn-primary">Registrarse</button>
                <p class="text-center">¿Ya tiene una cuenta? <a href="{% url 'account_login' %}"
                                                                 class="link link-secondary">Inicia
                    sesion</a></p>


            </fieldset>
        </form>
    </div>
{% endblock %}