{% load i18n %}
{% load static tailwind_tags %}
{% load chat_extras %}
<!DOCTYPE html>
<html data-theme="emerald" class="h-full">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block head_title %} {% endblock head_title %}</title>
        {% tailwind_css %}
        <style>
            .scrollbar-hide {
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
            }
            .scrollbar-hide::-webkit-scrollbar {
                display: none;  /* Chrome, Safari and Opera */
            }
        </style>
    </head>
    <body class="bg-primary flex flex-col min-h-screen">
        {% include "partials/navbar.html" %}

        <div class="p-2 grow flex gap-2 min-h-0">
            <div class="chat-sidebar w-4/12 grow hidden sm:block min-h-0">
                <div class="bg-base-100 rounded-box shadow-md flex flex-col" style="height: 86.5vh;">
                    <li class="p-4 pb-2 text-xs opacity-60 tracking-wide sticky top-0 bg-base-100 ">Mensajes</li>
                    <div class="flex-1 overflow-y-auto scrollbar-hide">
                        <ul class="list">
                            {% for recent_thread in recent_threads %}
                                {% with other_user=recent_thread|get_other_user:request.user %}
                                    <a href="{% url 'start_chat' other_user.id %}">
                                        <li class="list-row">
                                            <div><img class="size-10 rounded-box" src="{{ other_user.profile_picture.url }}"/></div>
                                            <div class="list-col-grow">
                                                <div>{{ other_user.full_name|capfirst }} - {{ other_user.email }}</div>
                                                <div class="text-xs uppercase font-semibold opacity-60">{{ recent_thread.last_message_time }}</div>
                                            </div>
                                        </li>
                                    </a>
                                {% endwith %}
                            {% empty %}

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-8/12 min-h-0">
                {% block content %} {% endblock content %}
            </div>
        </div>
    </div>
</body>
</html>